@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
	--color1: #333;
	--color2: #74D990;
	--color3: #FF3042;
}

*{margin: 0;padding: 0;box-sizing: border-box;outline: none;text-decoration: none;font-family: 'Roboto'; border: 0;}body{background-color: var(--color1)}header{width: 100%;background: #333;border-bottom: 3px solid #424242;display: flex;justify-content: center;align-items: center}nav a{color: #FFF;font-weight: 600;padding: 15px 10px;display: inline-block;font-size: 24px;transition: color 500ms}nav a:hover{color: #74D990}.container-layout{height: 90vh;display: flex;justify-content: center;align-items: center}.card{background: #FFF;width: 80%;padding: 10px 5px 50px}table{width: 100%;position: relative}thead{text-align: left;line-height: 30px}footer{text-align: center;color: #FFF;background: #212121;line-height: 40px}
button{cursor: pointer}.bt{background: #203F4C;color: #FFF;padding: 4px 10px;border-radius: 3px}.new{float: right;margin: 0px 0px 10px}.img{display: flex;align-items: center}td img{width: 60px;border-radius: 100vh;border: 1px solid #333;padding: 2px;margin-right: 6px}th{line-height: 40px}tr{line-height: 80px}

h3{
	color: #333;
	margin-bottom: 20px;
}
.item div{
	color: #5f5f5f;
	margin-bottom: 15px;
}
div span{
	display: inline-block;
}
input{
	width: 100%;
  padding: 5px 10px 5px;
}
.post{
	width: 100%;
	line-height: 30px;
	margin-top: 5px;
	display: flex;
  justify-content: center;
}
.item{
	border-bottom: 2px solid #dadada;
  margin-bottom: 20px;
}

.alerta{
	width: 100%;
	height: 100vh;
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
}
.alerta div {
	box-shadow: 1px 1px 5px 3px #d0d0d0;
	background: #FFF;
	padding: 10px 5px 20px;
	text-align: center;
}
.alerta div button:last-child{
	background: #46e49b;
}
.alerta div h2{
	margin-bottom: 20px;
}
.alerta div button{
	background: #19c173;
	font-size: 15px;
	padding: 5px 10px;
	color: #FFF;
	margin: 0 5px;
}