<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Gym Manager</title>
	<link rel="stylesheet" href="/style.css">
	<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
</head>
<body>
<header>
		<nav class="links">
		<a href="/instructors">Instructors</a>
		<a href="/members">Members</a>
	</nav>
</header>

<div class="container-layout">
{% block content %}
{% endblock %}
</div>

	<script src="/scripts.js"></script>
</body>
</html>