{% extends 'layout.html' %}
	
{% block content %}
<div class="card">
	<section class="avatar" 
		style="background: url('https://source.unsplash.com/collection/2315391/500x500') no-repeat center center / cover;">
	</section>

	<section class="details">
		<form action="/instructors?_method=PUT" method="POST">
				<h3>Editar instrutor</h3>
				{% include 'instructors/fields.html' %}
				<input type="hidden" name="id" value="{{ instructor.id }}">
		</form>

		<form id="form-delete" action="/instructors?_method=DELETE" method="POST">
			<input type="hidden" name="id" value="{{ instructor.id }}">
			<button class="bt post" type="submit">Deletar</button>
		</form>
</section>
<script>
	let btDelete = document.querySelector('#form-delete');
	btDelete.addEventListener('submit', event => {
		const option = confirm('Tem certeza que deseja excluir?');
		if(!option){
			event.preventDefault();
		}
	});
</script>
</div>
{% endblock %}
